.tbl{
    border-color: pink;
    border-style: dashed;
    border-width: thick;
}

body {
    background-image: url("whatever.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

h2 {
    color: purple;
    text-decoration: overline;
    font-family: Verdana;
    text-align: center;
    font-size: xx-large;
}

.list {
    color: #008000;
    text-decoration: overline;
    font-family: Comic sans MS;
    text-align: right;
    font-size: 80%;
    list-style-type: none;
}

.list2 {
    color: grey;
    text-decoration: underline;
    text-align: right;
    font-family: 'Lucida Sans';
    font-size: 80%;
    list-style-type: none;
}

p {
    color: black;
    text-decoration: overline;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    font-size: xx-large;
}

